BOOTSTRAP_SERVERS=SASL_SSL://pkc-oxqxx9.us-east-1.aws.confluent.cloud:9092
KAFKA_API_KEY=
KAFKA_API_SECRET=
SCHEMA_REGISTRY_URL=https://psrc-68gz8.us-east-2.aws.confluent.cloud
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=
TOPIC=all_flights
POLL_INTERVAL_SECONDS=60
